[package]
name = "soketto"
version = "0.3.0"
authors = ["Parity Technologies <admin@parity.io>", "Jason Ozias <jason.g.ozias@gmail.com>"]
description = "A websocket protocol implementation as as set of tokio codecs."
keywords = ["tokio", "websocket", "codec"]
license = "Apache-2.0 OR MIT"
readme = "README.md"
repository = "https://github.com/paritytech/soketto"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
deflate = ["flate2"]

[dependencies]
base64 = "0.10.1"
bytes = "0.5"
either = "1.5"
flate2 = { version = "1.0.8", features = ["zlib"], default-features = false, optional = true }
futures = { version = "0.3.1", features = ["unstable", "bilock"] }
http = "0.1.17"
httparse = "1.3.3"
log = "0.4.8"
rand = "0.7"
sha1 = "0.6"
smallvec = "1.0"
static_assertions = "1.1"
thiserror = "1.0"

[dev-dependencies]
assert_matches = "1.3"
async-std = "1"
quickcheck = "0.9"
