[package]
name = "soketto"
version = "0.3.2"
authors = ["Parity Technologies <admin@parity.io>", "Jason Ozias <jason.g.ozias@gmail.com>"]
description = "A websocket protocol implementation."
keywords = ["websocket", "codec", "async", "futures"]
categories = ["network-programming", "asynchronous", "web-programming::websocket"]
license = "Apache-2.0 OR MIT"
readme = "README.md"
repository = "https://github.com/paritytech/soketto"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
deflate = ["flate2"]

[dependencies]
base64 = "0.11"
bytes = "0.5"
flate2 = { version = "1.0.13", features = ["zlib"], default-features = false, optional = true }
futures = { version = "0.3.1", features = ["unstable", "bilock"] }
http = "0.2"
httparse = "1.3.4"
log = "0.4.8"
rand = "0.7"
sha1 = "0.6"
smallvec = "1"
static_assertions = "1.1"
thiserror = "1"

[dev-dependencies]
assert_matches = "1.3"
async-std = "1"
quickcheck = "0.9"
